<h1>Article List</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
      <!--The first part of this helper after the link_to, in this case article.title, is the text you want the link to say. The next part is our route helper.-->
  	  <%= link_to article.title, article_path(article), class: 'article_title'%>
    </li>
  <% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article"%>

